<mat-card class="breadcrumb">
  View Items
</mat-card>

<mat-card class="breadcrumb">
  Search
  <mat-card-content><br />
    <form [formGroup]="searchItemForm" (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="search">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option *ngFor="let brand of brands" [value]="brand.value">{{brand.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="searchItemForm.controls.brand.touched && searchItemForm.controls.brand.invalid">
          <span *ngIf="searchItemForm.controls.brand.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="search">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.value">{{type.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="searchItemForm.controls.type.touched && searchItemForm.controls.type.invalid">
          <span *ngIf="searchItemForm.controls.type.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="search">
        <mat-label>Description</mat-label>
        <input matInput type="text" class="example-right-align" formControlName="description">
        <mat-error *ngIf="searchItemForm.controls.description.touched && searchItemForm.controls.description.invalid">
          <span *ngIf="searchItemForm.controls.description.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="search"
        [disabled]="searchItemForm.invalid">Search</button>
      <button mat-raised-button color="primary" type="button" (click)="clear()">Clear</button>
    </form>
    <mat-form-field style="width: 100%;">
      <mat-label>Filter By Brand , Type or etc...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Abans" #input>
    </mat-form-field>
  </mat-card-content>
</mat-card>


<table mat-table [dataSource]="dataSource"  *ngIf="!searchListEmptyFlag" matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Brand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Expired On">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expired On </th>
    <td mat-cell *matCellDef="let element"> {{element.expireDate |date}} </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"><button mat-icon-button color="warn" type="button"
        (click)="openDialogDeleteConfirmation(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
