:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: 100%;
  background-color: #f0f0f0;

}

mat-drawer-content {
  padding: 0px;
}
.example-spacer {
  flex: 1 1 auto;
}
.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  a {
    font-size: small;
  }
